<div class="flex font-nunito">
  <app-nav-bar class="hidden md:flex"></app-nav-bar>
  <ng-content/>
  <footer>

  </footer>
</div>
<button #button (click)="toggleNav()" class="w-14 {{isOpened()? 'bg-transparent' : 'bg-mainGrey'}} md:hidden aspect-square rounded-lg  flex flex-wrap p-3 fixed top-3 left-3 items-center justify-between z-50 overflow-x-hidden">
  <div #btnLine id="line1" class="w-full h-[3px] bg-mainWhite transition-all ease-in-out"></div>
  <div #btnLine class="w-full h-[3px] bg-mainWhite transition-all ease-in-out"></div>
  <div #btnLine id="line2" class="w-full h-[3px] bg-mainWhite transition-all ease-in-out"></div>
</button>
<div #mobileNav class="fixed top-0 left-0 z-40 max-h-[100dvh] transition-all ease-in-out -translate-x-full">
  <app-nav-bar ></app-nav-bar>
</div>
