<div class="w-full h-fit max-w-full overflow-x-hidden ">
  <div #screen class="w-full max-w-screen-xl mx-auto items-center justify-center min-h-screen h-fit flex flex-col">
    <div class="w-full h-full flex items-center justify-center">
      <div class="w-fit startBr:w-1/2 flex flex-col justify-center gap-10 2xl:p-0 pl-20">
        <div class="flex flex-col gap-2 items-start">
          <img src="assets/image.png" #profile id="" class="h-36 rounded-full startBr:hidden  aspect-square profile_photo"
               alt="Profile photo">
          <h1 class="font-bold text-secondaryWhite text-7xl 2xl:text-8xl ">Jose Ramón <br> Gallardo</h1>
        </div>
        <h2 class="font-semibold text-secondary text-4xl ">Desarrollador web</h2>
        <p class="font-medium text-mainWhite max-w-[25rem]">Hola 👋, me llamo Ramon y soy un tecnico superior de
          desarrollo
          web apasionado por el back-end, llevo mas de
          tres años desarrollando software de forma autodidacta y mas de dos años en el desarrollo web.</p>
        <div class="flex items-center font-bold gap-8">
          <button
            class="p-2 rounded-lg flex items-center justify-center border-2 border-secondary text-secondary hover:bg-secondary hover:text-mainWhite transition-all ease-in-out hover:scale-105 hover:shadow-main-shadow">
            Ver proyectos
          </button>
          <button
            class="p-2 rounded-lg flex items-center justify-center text-mainWhite hover:bg-mainWhite hover:text-main  transition-all ease-in-out hover:scale-105 hover:shadow-main-shadow">
            Contactar
          </button>
          <div
            class="h-full text-mainWhite w-fit p-2 text-2xl rounded-r rounded-lg bg-mainGrey flex items-center gap-2">
            <span class="icon-[mdi--linkedin] cursor-pointer transition-all ease-in-out hover:text-secondary"></span>
            <span class="icon-[mdi--github] cursor-pointer transition-all ease-in-out hover:text-secondary"></span>
          </div>
        </div>
      </div>
      <div class="w-1/2 flex-col hidden startBr:block items-center justify-center">
        <img src="assets/image.png" #profile  class="w-[75%] rounded-full profile_photo h-auto aspect-square"
             alt="Profile photo">
      </div>
    </div>
    <div class="w-full flex items-center justify-center p-16">
      <div
        class="w-20 rounded-full flex items-center justify-center text-secondary aspect-square  text-6xl bg-mainGrey shadow hover:shadow-xl transition-all ease-in-out hover:scale-110 cursor-pointer group">
        <span class="icon-[material-symbols--arrow-cool-down-rounded] group-hover:scale-105"></span>
      </div>
    </div>
  </div>
</div>
